body {background-color: #ccd9f1;}

.navbar {background-color: #ccd9f1;}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#hero {
    background-image: url("../images/background.webp");
    background-size: cover;
    background-position: 50% 70%;
    min-height: 400px;
    padding: 5% 7%;
    background-color: #dbdcde;

}

#hero h1 {
    color: #dbdcde;
    font-size: 50px;
}

#hero-sub {
    background-image: url("../images/background.webp");
    background-size: cover;
    background-position: 50% 70%;
    min-height: 200px;
    padding: 5% 7%;
    background-color: #dbdcde;

}

#hero-sub h1 {
    color: #dbdcde;
    font-size: 50px;
}

#hero-sub p {
    color: #ffffff;
}
#main {
    padding: 30px 0px 0px 0px;
    margin: auto;
    
}

#explore {
    padding: 30px 0px 0px 0px;
    margin: auto;
    
}

#locations {
    padding: 0px 0px 0px 0px;
    margin: auto;
}




/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #0b21ec;
}



